.AddCharacters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fac800;
    font-size: 28px;
    margin-top: 40px;
}

.Nameinput {
    line-height: 40px;
    font-size: 22px;
    border-radius: 8px;
}

.Descriptioninput{
    height: 100px;
    width: 550px;
    font-size: 22px;
    border-radius: 8px;
}
.Optioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: #fac800;
    font-size: 24px;
}

.Characters{
    font-size: 22px;
    height: 40px;
    width: 550px
}

.Formandpreview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Addcharacter{
    background-color: #e70112;
    border-color: white;
    border: solid;
    margin-top: 20px;
}

.Addcharacter:hover{
    background-color: #c1000e; /* Darker red background color on hover */
    border-color: white;
}
