.CharacterCard {
    border-radius: 10px;
    border: 5px solid white;
    /* Adding border-width and border-style */
    background-color: #e70112;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 50px;
    padding-left: 50px;
    width: 500px;
}

.Charactericon {
    height: 300px;
}

.Characterdescription {
    width: 500px;
    overflow: wrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    min-height: 82px;
    font-size: 18px;
}

.Charactername {
    min-height: 49px;
    margin: 0 auto;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Toprow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.Link{
    border: solid 2px;
    border-color: black;
    background-color: #fac800;
    border-radius: 8px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.Link:hover{
    border-color: black;
   transform: scale(1.1); /* Increase scale on hover */ 
}

.Deleteicon{
    width: 30px;
}

.Editicon{
    width: 30px;
}
